<app-header />

<h1>Hello from Angular</h1>

<input
  title="Angular attribute binding"
  type="text"
  [attr.aria-lable]="inputName"
/>

<p [class.highlight]="isHighlight">Highlight text</p>
<p [class]="myMultipleClasses">myMultipleClasses binding</p>

<button type="button" (click)="clickMe()">Click me</button>
<p [class.red]="isRed">Bloody text</p>
<button type="button" (click)="switchBackgroundColor()">Change color</button>

<div *ngFor="let product of products">{{ product }}</div>
<app-note-list />

<label for="name">Name: </label>
<input placeholder="name" type="text" [(ngModel)]="name" name="name" />

<p>{{ name }}</p>
<form (ngSubmit)="showName()" #myForm="ngForm">
  <label for="username">Name: </label>
  <input
    placeholder="username"
    type="text"
    [(ngModel)]="name"
    name="username"
    required
  />
  <input type="submit" value="Submit" [disabled]="!myForm.form.valid" />
</form>

<router-outlet></router-outlet>
