<app-header />

<h1>Hello from Angular</h1>

<input
  title="Angular attribute binding"
  type="text"
  [attr.aria-lable]="inputName"
/>

<p [class.highlight]="isHighlight">Highlight text</p>
<p [class]="myMultipleClasses">myMultipleClasses binding</p>

<button type="button" (click)="clickMe()">Click me</button>
<p [class.red]="isRed">Bloody text</p>
<button type="button" (click)="switchBackgroundColor()">Change color</button>

<div *ngFor="let product of products">{{ product }}</div>
<app-note-list />

<label for="name">Name: </label>
<input placeholder="name" type="text" [(ngModel)]="name" name="name" />

<p>{{ name }}</p>
<form (ngSubmit)="showName()" #myForm="ngForm">
  <label for="username">Name: </label>
  <input
    placeholder="username"
    type="text"
    [(ngModel)]="name"
    name="username"
    required
  />
  <input type="submit" value="Submit" [disabled]="!myForm.form.valid" />
</form>

<form (ngSubmit)="showReactiveName()">
  <p>reactiveName.value: {{ reactiveName.value }}</p>
  <label for="reactiveName">Reactive Name: </label>
  <input
    type="text"
    name="reactiveName"
    placeholder="reactiveName"
    [formControl]="reactiveName"
  />
  <input type="submit" value="Submit" />
</form>

<form [formGroup]="loginForm" (submit)="login()">
  <label for="username">Username: </label>
  <input
    type="text"
    name="username"
    placeholder="Username"
    formControlName="username"
  /><br />

  <label for="">Password: </label>
  <input
    type="text"
    name="password"
    placeholder="Password"
    formControlName="password"
  /><br />

  <input type="button" value="Reset" (click)="loginForm.reset()" />
  <input type="submit" value="Submit" [disabled]="!loginForm.valid" />
</form>
<router-outlet></router-outlet>
